body{
    background: blue;
    font: normal 15pt Arial;
    color: white;
}

header{
    text-align: center;
}

.titulo {
    font-size: 32pt;
}
.subtitulo {
    font-size: 18pt;
}

main{
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}

.barra__lateral{
    width: 40vh;
    height: 32rem;
    background: white;
    color: #3d3c3c;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.318);
}

.programa {
    display: flex;
    flex-direction: column;
    width: 120vh;
    height: 32rem;
    background: white;
    color: #3d3c3c;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.318);
}

footer{
    text-align: center;
    font: italic 12pt Arial;
}

.caixa__conhecimento {
    padding: 4px 12px 4px 12px;
    background-color: #3d3c3c;
    margin: auto;
    color: white;
    border-radius: 48px;
}